body{
    background-image: url("./product_images/PHP_Background.png");
    background-size: contain;
    text-align: center;
}

/*-----------------------Landing Page-----------------------*/

.navbar-custom{
    background-color: black !important;
    
}
.navbar a{
    color: white !important;
    font-family: 'Allerta Stencil', sans-serif;
}

.custom-toggler.navbar-toggler-icon {
    border-color: rgb(255,102,203) !important;
} 

.navbar-nav a:hover{
    color: #AF883A !important;
}

/*-----------------------Landing Page-----------------------*/

#landing-page-header{
    background-image: url("../Personal_Happiness_Papers/product_images/Contact-Page-header.jpeg");
    background-size: cover;
    background-position: center bottom 2px !important;
    height: 100vh  
}

#header-container{
    padding-top: 100px !important;
}


.landing-page-btn{
    margin-top: 10px;

}


#Landing-Page{
    margin-top: 50px;
}
.landing-page-main{
    background-color: rgba(255, 255, 255, .26);  
    backdrop-filter: blur(5px);
    margin: 0 50px 0 50px;
    border-radius: 25px;
    padding-bottom: 50px;
}
.landing-page-heading{
    font-family: 'Kanit', sans-serif;
    color: black;
    text-shadow: 2px 2px 8px white;
    text-align: center !important;
}

.landing-page-heading:hover{
    color: #AF883A;
}

.landing-page-info{
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 600;
}

.learn-btn{
    background-color: black;
    padding: 10px 20px 10px 20px;
    border: none;
    transition: font-size 1.2s;
}

.learn-btn:hover{
    background-color: #AF883A;
    font-size: 23px;
}

.shopping-btn{
    background-color: #AF883A;
    padding: 10px 20px 10px 20px;
    border: none;
    transition: font-size 1.2s;
    margin-right: 10px;

}

.learn-btn:hover{
    background-color: #AF883A;
    font-size: 23px;
}

.shopping-icon{
    margin-right: 10px;
}



/*-----------------------Services Page-----------------------*/
#Services{
    margin-bottom: 30px;
    margin-top: 10px;
}
.services-page{
    background-color: rgba(255, 255, 255, .26);  
    backdrop-filter: blur(5px);
    margin: 0 50px 0 50px;
    padding: 50px 0 60px 0;
    border-radius: 25px;
}

.services-heading{
    font-family: 'Kanit', sans-serif;
    color: black;
    text-shadow: 2px 2px 8px white;
}

.services-text{
    font-family: 'Inter', sans-serif;
    color: rgb(17, 16, 16);
    font-weight: 600;
}

.feature-title{
    font-family: 'Kanit', sans-serif;
    margin-top:5px;
    color: black;
}

.services-icon{
    color:black;
}

.services-icon:hover{
    color: #AF883A;
}

/*-----------------------Contact Page-----------------------*/

#contact-page-header{
    background-image: url("../Personal_Happiness_Papers/product_images/Contact-Page-header.jpeg");
    background-size: cover;
    height: 100vh;
}

.contact-page-main{
    background-color: rgba(255, 255, 255, .26);  
    backdrop-filter: blur(5px);
    margin: 0 50px 20px 50px;
    padding: 50px 0 60px 0;
    border-radius: 25px;
}

.contact-heading{
    font-family: 'Kanit', sans-serif;
    padding: 0 10px 0 10px;
    color: black;
    text-shadow: 2px 2px 8px white;
}
.contact-form-icon-container{
    margin-top: 25px;
}

.contact-text{
    font-family: 'Inter', sans-serif;
}

.contact-form-text{
    font-family: 'Kanit', sans-serif;
}

.contact-id{
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
}

.message-id{
    border: none;
  border-radius: 20px;
  padding:10px;
  width: 80%;
  box-sizing: border-box;
  height: 150px;
}


/*-----------------------About Page-----------------------*/

#about-page-header{
    background-image: url("../Personal_Happiness_Papers/product_images/About-Page-Header.jpeg");
    background-size: cover;
    height: 100vh;
    
}

#About-Page{
    margin-top: 20px;
}

.about-page-main{
    background-color: rgba(255, 255, 255, .26);  
    backdrop-filter: blur(5px);
    margin: 0 50px 20px 50px;
    padding: 50px 0 60px 0;
    border-radius: 25px;
}

.about-heading{
    font-family: 'Kanit', sans-serif;
    color: black;
    text-shadow: 2px 2px 8px white;
}
.about-heading:hover{
    color: #AF883A;
}


.about-text{
    font-family: 'Inter', sans-serif;
    text-align: justify;
    padding: 0 10px 0 10px;
    color: rgb(17, 16, 16);
    font-weight: 600 !important;
}

.about-text-form{
    color: #88641b;
}

.about-text-form:hover{
    color: black;
}

/*-----------------------Products Page-----------------------*/

#product-page-header{
    background-image: url("../Personal_Happiness_Papers/product_images/Product-Page-Header.jpeg");
    background-size: cover;
    background-position: center bottom 2px !important;
    height: 100vh;

}
.store-header{
    background-image: url(./images/cannabis-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image-card{
    height: 250px;
    width: 325px;
}


/*-----------------------Footer-----------------------*/

footer{
    background-color: rgba(255, 255, 255, .26);  
    backdrop-filter: blur(5px);
    padding: 30px 0 20px 0;
}

.footer-icon{
    margin: 0 5px 0 5px;
    color: whitesmoke;
}

.footer-icon:hover{
    color: #AF883A;
}

.footer-text{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
}



/*-----------------------Media Queries-----------------------*/

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {
#Landing-Page{
    margin-bottom: 20px;
}

.Lion_Head_Design{
    width: 250px;
    height: 250px;
}

.landing-page-heading{
    text-align: center;
}

.landing-page-info{
    text-align: center; 
}

.services-button{
    margin: 10px 0 10px 0;
}

.services-icon{
    margin: 10px 0 10px 0;
}

.contact-image{
    width: 250px;
    height: 250px;
}

.about-images{
    width: 250px;
    height: 250px;
}

#about-page-header{
    background-position: center bottom 2px !important;
}

#contact-page-header{
    background-position: center bottom 2px !important;

}





 }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
    .about-images{
        width: 280px;
        height: 280px;
    }

}


/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 

    #Landing-Page{
        margin-bottom: 20px;
    }


    .Lion_Head_Design{
        width: 350px;
       height: 350px;
   }

   .landing-page-heading{
    text-align: left;
    }

.landing-page-info{
    text-align: left; 
}

.contact-image{
    width: 350px;
    height: 350px;
}

.about-images{
    width: 350px;
    height: 350px;
}

#about-page-header{
    background-position: center bottom 2px !important;
}

#contact-page-header{
    background-position: center bottom 2px !important;

}






}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  { 
    #Landing-Page{
        margin-bottom: 20px;
    }

    .Lion_Head_Design{
        width: 450px;
       height: 450px;
   }

   .landing-page-heading{
    text-align: left;
    }

.landing-page-info{
    text-align: left; 
    }

    .contact-image{
        width: 500px;
       height: 500px;
   }

   .contact-form{
    margin-top: 50px !important;
   }
   .contact-icons{
    margin: 0 10px 0 10px;
}

.about-images{
    width: 450px;
    height: 450px;
}

#about-page-header{
    background-position: center bottom 2px !important;
}

#contact-page-header{
    background-position: center bottom 2px !important;

}






   
}



 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {

    #Landing-Page{
        margin-bottom: 20px;
    }
    .Lion_Head_Design{
        width: 450px;
       height: 450px;
   }

   .landing-page-heading{
    text-align: left;
    }

    .landing-page-info{
    text-align: left; 
    }

    .contact-image{
        width: 500px !important;
       height: 500px !important;
   }

   .contact-icons{
    margin: 0 15px 0 15px;
}

.about-images{
    width: 500px;
    height: 500px;
}

#about-page-header{
    background-position: center bottom -200px !important;
}

#contact-page-header{
    background-position: center bottom -250px !important;

}






}



/* hi-res laptops and desktops */ 
@media (min-width:1281px) {

    #Landing-Page{
        margin-bottom: 20px;
    }

    .Lion_Head_Design{
         width: 450px;
        height: 450px;
    }


    .landing-page-heading{
        text-align: left;
    }

    .landing-page-info{
        text-align: left; 
    }

    .contact-image{
        width: 480px;
       height: 480px;
   }

   .contact-icons{
        margin: 0 15px 0 15px;
   }

   .about-images{
    width: 500px;
    height: 500px;
   }

   #about-page-header{
    background-position: center bottom -200px !important;
    }

#contact-page-header{
    background-position: center bottom -250px !important;

    }




 }

